/* layout.css */

body{ 
    margin:0;
    font-family: 'McLaren', cursive; 
    background-color: rgb(61, 153, 110);
    background-image: url("computador.png");
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    text-align: center;
}
a{
    margin: 10px;
    font-family: fantasy;
    font-size: 20px;
    text-decoration:transparent;
}

header, footer {
    background-color:teal;
    padding: 2em;
}

h1{
    font-size: 50px;
}


main {
   
    /*background-color: #14C6CC;*/
    padding:10em;
    
    box-sizing: border-box;
    width: 70%;
    float:left;
}

h2{
    border: solid;
    background-color: #0e80a7;
    padding: auto;
}

aside {
    background-color: rgb(61, 153, 110);
    padding:4em;
    
    box-sizing: border-box;
    width: 30%;
    float:right;
    
}
h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

nav {
    background-color: #40C6FF;
    padding: 1em;
}

footer { 
    clear: both;
    text-align: center;
}


/* A primeira Media Query */
@media (max-width: 700px) {

    main, aside {
        float: none;
        width: auto;
    }
    
}

.div{
    widows: 560px;
    height: 315px;
}

.videos{
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.videos iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}